.Education-card{
    height: 300px;
    width: auto;
    
  
    background-color:rgba(167, 166, 136, 0.788);
   
    

   
}

.Card{

  background-color:rgb(72, 151, 165)
 
    
}
.Card:hover {
 color:greenyellow;}

